/* ============== import area start here =================== */

/* ============== import area end here =================== */
/* ============ css variables ============= */
:root {
  /* === font family === */
  --commissioner-font: "Commissioner", serif;
  /* === font family === */
  /* === font weight === */
  --light-weight: 300;
  --regular-weight: 400;
  --medium-weight: 500;
  --semi-bold-weight: 600;
  --bold-weight: 700;

  /* === font weight === */
  /* === colors === */
  --white-clr: #fff;
  --black-clr: #000;
  --primary-btn-clr: #7678ed;
  --primary-text-clr: #13132C;
  --secondary-text-clr: #62636c;
  --transparent-clr: transparent;
  /* === colors === */
  /* === method === */
  --transition: all 0.3s linear;
  /* === method === */
}
/* ============ css variables ============= */

/* ============= common css start here ================ */
* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}
ul,
ol,
menu {
  list-style-type: none;
}
a {
  text-decoration: none;
  display: inline-block;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
menu,
div {
  margin: 0;
  padding: 0;
  line-height: 0.8;
}
img {
  vertical-align: middle;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
.common_btn {
  padding: 14px 30px;
  background-color: var(--primary-btn-clr);
  color: var(--white-clr);
  font-family: var(--commissioner-font);
  font-size: 14px;
  font-weight: var(--medium-weight);
  line-height: 16px;
  border: 2px solid var(--primary-btn-clr);
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}
.common_btn:hover {
  color: var(--primary-btn-clr);
  background-color: var(--white-clr);
  border: 2px solid var(--primary-btn-clr);
}
/* ============= common css end here ================ */

/* =================== navbar css start here ======================== */
nav {
  padding: 36px 0 !important;
}
.navbar {
  padding: 0;
}
.navbar-nav {
  column-gap: 49px;
}
.nav-link {
  color: var(--secondary-text-clr);
  font-family: var(--commissioner-font);
  font-size: 16px;
  font-weight: var(--regular-weight);
  line-height: normal;
}
.nav-link:hover{
  color: var(--primary-btn-clr);
}

/* =================== navbar css end here ======================== */

/* =================== section css start here ======================== */
/* =================== section css end here ======================== */

/* =================== section css start here ======================== */
/* =================== section css end here ======================== */

/* =================== section css start here ======================== */
/* =================== section css end here ======================== */

/* =================== section css start here ======================== */
/* =================== section css end here ======================== */

/* =================== section css start here ======================== */
/* =================== section css end here ======================== */

/* =================== section css start here ======================== */
/* =================== section css end here ======================== */

/* =================== section css start here ======================== */
/* =================== section css end here ======================== */

/* =================== section css start here ======================== */
/* =================== section css end here ======================== */

/* =================== section css start here ======================== */
/* =================== section css end here ======================== */

/* =================== section css start here ======================== */
/* =================== section css end here ======================== */

/* =================== section css start here ======================== */
/* =================== section css end here ======================== */
