/* ============== import area start here =================== */

/* ============== import area end here =================== */
/* ============ css variables ============= */
:root {
  /* === font family === */
  --commissioner-font: "Commissioner", serif;
  /* === font family === */
  /* === font weight === */
  --light-weight: 300;
  --regular-weight: 400;
  --medium-weight: 500;
  --semi-bold-weight: 600;
  --bold-weight: 700;

  /* === font weight === */
  /* === colors === */
  --white-clr: #fff;
  --black-clr: #000;
  --primary-btn-clr: #7678ed;
  --primary-text-clr: #13132c;
  --secondary-text-clr: #62636c;
  --pera-text-clr: #898998;
  --transparent-clr: transparent;
  /* === colors === */
  /* === method === */
  --transition: all 0.3s linear;
  /* === method === */
}
/* ============ css variables ============= */

/* ============= common css start here ================ */
* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}
ul,
ol,
menu {
  list-style-type: none;
}
a {
  text-decoration: none;
  display: inline-block;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
menu,
div {
  margin: 0;
  padding: 0;
  line-height: 0.8;
}
img {
  vertical-align: middle;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
body {
  font-family: var(--commissioner-font);
}
.common_btn {
  padding: 14px 30px;
  background-color: var(--primary-btn-clr);
  color: var(--white-clr);
  font-size: 14px;
  font-weight: var(--medium-weight);
  line-height: 16px;
  border: 2px solid var(--primary-btn-clr);
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}
.common_btn:hover {
  color: var(--primary-btn-clr);
  background-color: var(--white-clr);
  border: 2px solid var(--primary-btn-clr);
}
.section_heading h2 {
  font-size: 48px;
  font-weight: var(--semi-bold-weight);
  line-height: 70px;
  color: var(--primary-text-clr);
}
.section_heading p {
  font-size: 14px;
  line-height: 24px;
  color: var(--pera-text-clr);
}
/* ============= common css end here ================ */

/* =================== navbar css start here ======================== */
nav {
  padding: 36px 0 !important;
}
.navbar {
  padding: 0;
}
.navbar-nav {
  column-gap: 49px;
}
.nav-link {
  color: var(--secondary-text-clr);
  font-size: 16px;
  font-weight: var(--regular-weight);
  line-height: normal;
}
.nav-link:hover {
  color: var(--primary-btn-clr);
}

/* =================== navbar css end here ======================== */

/* =================== banner section css start here ======================== */
#banner {
  padding: 48px 0;
}
.banner_heading {
  color: var(--primary-text-clr);
  font-size: 56px;
  font-weight: var(--semi-bold-weight);
  line-height: 76px;
}
.banner_details {
  max-width: 416px;
  color: var(--pera-text-clr);
  font-size: 16px;
  font-weight: var(--regular-weight);
  line-height: 28px;
  padding: 16px 0 32px;
}
.banner_btn_wrapper {
  margin-bottom: 56px;
  column-gap: 16px;
}
.banner_btn_wrapper .common_btn {
  padding: 18px 40px;
  font-weight: var(--semi-bold-weight);
  font-size: 16px;
}
.banner_counter_wrapper {
  column-gap: 24px;
}
.banner_counter_wrapper h5 {
  color: var(--primary-text-clr);
  font-size: 16px;
  font-weight: var(--regular-weight);
  line-height: normal;
}
.banner_counter_wrapper h5 strong {
  color: #f18701;
  font-size: 40px;
  font-weight: var(--medium-weight);
  line-height: 48px;
  padding-right: 8px;
}

.banner_big_image {
  max-width: 560px;
  height: 520px;
  background-color: #c4c4c4;
  margin-left: auto;
}
.banner_big_image img {
  width: 100%;
  height: 100%;
}
.banner_feature_image {
  max-width: 220px;
  max-height: 240px;
  bottom: 48px;
  left: -104px;
}
/* =================== banner section css end here ======================== */

/* =================== record section css start here ======================== */
#record {
  padding: 64px 0;
  background-color: #fafafa;
}
#record .section_heading h2 {
  max-width: 643px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 24px;
}
#record .section_heading p {
  max-width: 620px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 48px;
}
.record_item {
  padding: 24px 35px;
  max-width: 282px;
  text-align: center;
  margin: 0 auto;
  background-color: var(--white-clr);
  box-shadow: 10px 32px 72px 0px rgba(15, 13, 35, 0.04);
}
.record_item_icon {
  width: 88px;
  height: 88px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background-color: #fff7ec;
  margin: 0 auto;
  margin-bottom: 32px;
}
.record_item_icon i {
  font-size: 40px;
  line-height: 88px;
  color: #f18701;
}
.record_item_heading {
  color: var(--primary-text-clr);
  font-size: 20px;
  font-weight: var(--medium-weight);
  line-height: normal;
  margin-bottom: 16px;
}
.record_item_details {
  color: var(--pera-text-clr);
  font-size: 14px;
  font-weight: var(--regular-weight);
  line-height: 24px;
}
/* =================== record section css end here ======================== */

/* =================== why_us section css start here ======================== */
#why_us {
  padding: 48px 0;
}
#why_us .section_heading h2 {
  max-width: 491px;
  margin-bottom: 16px;
}
#why_us .section_heading p {
  max-width: 386px;
  padding-bottom: 32px;
}
.why_us_list_item {
  padding-left: 36px;
  position: relative;
  color: var(--primary-text-clr);
  font-size: 16px;
  font-weight: var(--regular-weight);
  line-height: normal;
  margin-bottom: 24px;
}
.why_us_list_item i {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  color: #f18701;
  font-size: 20px;
}
.why_us_btn .common_btn {
  margin-top: 16px;
  padding: 18px 40px;
  font-size: 16px;
  font-weight: var(--semi-bold-weight);
  line-height: normal;
}
.why_us_image {
  max-width: 592px;
  margin: 0 auto;
}
.why_us_image img {
  width: 100%;
}
/* =================== why_us section css end here ======================== */

/* =================== episode section css start here ======================== */
#episode {
  margin: 48px 0;
  padding: 64px 0;
  background-color: #fafafa;
}
#episode .section_heading h2,
#pricing .section_heading h2 {
  text-align: center;
  max-width: 384px;
  margin: 0 auto;
  margin-bottom: 24px;
}
#episode .section_heading p,
#pricing .section_heading p {
  text-align: center;
  max-width: 386px;
  margin: 0 auto;
  margin-bottom: 40px;
}
.episode_category_wrapper .category,
.pricing_category_wrapper .category {
  padding: 16px 32px;
  color: var(--pera-text-clr);
  font-size: 14px;
  font-weight: var(--medium-weight);
  line-height: 16px;
  border: 1px solid #ddd;
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
  cursor: pointer;
}
.episode_category_wrapper .category:hover,
.pricing_category_wrapper .category:hover {
  background-color: var(--primary-btn-clr);
  color: var(--white-clr);
  border-color: var(--primary-btn-clr);
}
.episode_item_wrapper {
  max-width: 282px;
}
.episode_item_image {
  height: 100%;
  height: 234px;
  background-color: #c4c4c4;
  overflow: hidden;
  object-fit: cover;
  margin: 0 auto;
  margin-bottom: 24px;
}
.episode_details h4 {
  color: var(--primary-text-clr);
  font-size: 18px;
  font-weight: var(--medium-weight);
  line-height: 28px;
  margin-bottom: 10px;
}
.episode_details p {
  color: var(--pera-text-clr);
  font-size: 14px;
  font-weight: var(--regular-weight);
  line-height: 16px;
}
.episode_details p .minutes {
  margin-left: 16px;
}
.episode_details p .file {
  position: relative;
}
.episode_details p .file::after {
  content: "";
  position: absolute;
  right: -12px;
  bottom: 4px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background-color: var(--primary-btn-clr);
}
.episode_btn .common_btn {
  color: var(--primary-btn-clr);
  font-size: 16px;
  font-weight: var(--semi-bold-weight);
  line-height: normal;
  background-color: var(--transparent-clr);
}
.episode_btn .common_btn:hover {
  color: var(--white-clr);
  background-color: var(--primary-btn-clr);
}
/* =================== episode section css end here ======================== */

/* =================== pricing section css start here ======================== */
#pricing {
  padding: 48px 0;
}
#pricing .section_heading h2 {
  max-width: 593px;
}
#pricing .section_heading p {
  max-width: 533px;
  margin-bottom: 48px;
}
.pricing_item_wrapper {
  max-width: 384px;
  background-color: var(--white-clr);
  box-shadow: 10px 32px 72px 0px rgba(15, 13, 35, 0.04);
  cursor: pointer;
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}
.pricing_item_heading {
  color: var(--primary-text-clr);
  font-size: 32px;
  font-weight: var(--medium-weight);
  line-height: 38px;
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}
.pricing_item_details {
  max-width: 240px;
  color: var(--pera-text-clr);
  font-size: 14px;
  font-weight: var(--regular-weight);
  line-height: 24px;
  transition: var(--transition);
}
.pricing_item_price {
  color: var(--primary-text-clr);
  font-size: 40px;
  font-weight: var(--medium-weight);
  line-height: 48px;
  transition: var(--transition);
}
.pricing_item_price span {
  color: var(--pera-text-clr);
  font-size: 16px;
  font-weight: var(--regular-weight);
  line-height: normal;
  transition: var(--transition);
}
.pricing_feature_list_wrapper {
  margin: 32px 0;
}
.pricing_feature_list {
  color: var(--primary-text-clr);
  font-size: 16px;
  font-weight: var(--medium-weight);
  line-height: normal;
  padding-left: 36px;
  position: relative;
  transition: var(--transition);
}
.pricing_feature_list i {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  font-size: 22px;
  color: var(--primary-btn-clr);
  transition: var(--transition);
}
.pricing_btn .common_btn {
  width: 100%;
  text-align: center;
  font-size: 16px;
  padding: 18px 0;
  font-weight: var(--semi-bold-weight);
  background-color: var(--white-clr);
  color: var(--primary-btn-clr);
}
.pricing_item_wrapper:hover {
  background-color: var(--primary-btn-clr);
  box-shadow: 10px 32px 72px 0px rgba(15, 13, 35, 0.04);
}
.pricing_item_wrapper:hover .pricing_item_heading,
.pricing_item_wrapper:hover .pricing_item_price,
.pricing_item_wrapper:hover .pricing_feature_list,
.pricing_item_wrapper:hover .pricing_feature_list i {
  color: var(--white-clr);
}
.pricing_item_wrapper:hover .pricing_item_details,
.pricing_item_wrapper:hover .pricing_item_price span {
  color: rgba(255, 255, 255, 0.72);
}

/* =================== pricing section css end here ======================== */

/* =================== blog section css start here ======================== */

/* =================== blog section css end here ======================== */

/* =================== testimonials section css start here ======================== */

/* =================== testimonials section css end here ======================== */

/* =================== footer section css start here ======================== */
footer {
  background-color: var(--primary-text-clr);
  padding: 280px 0 30px;
}
footer .footer_left_content p {
  color: rgba(255, 255, 255, 0.72);
  line-height: 28px;
}
.footer_links h4 {
  font-size: 18px;
  font-weight: 600;
  color: var(--white-clr);
}
footer .footer_links nav {
  padding: 25px 0 !important;
}
.footer_links.address ul li,
.footer_links ul li a {
  padding: 13px 0;
  color: rgba(255, 255, 255, 0.72);
}
.footer_links.address ul li i {
  padding-right: 5px;
}
/* =================== footer section css end here ======================== */
